.SOC_barChart_container {
    width: 1240px;
    height: 115px;
    position: relative;
    /* height: 120px; */
}

.Battery_graph {
    position: absolute;
    top: -35px;
    left: 9px;
}

.Battery_icon {
    z-index: 100;
}